= f.input :name, label: "姓名"
= f.input :cellphone, label: "手机号"
= f.input :id_card, label: "身份证号"
= f.input :creditcard_num, label: "浦发信用卡号"
= f.input :email, label: "邮箱"

/ , input_html: { :class => "input-xxlarge" }