= f.input :name, label: "姓名", placeholder: "必填字段"
= f.input :cellphone, label: "手机号", placeholder: "必填字段"
= f.input :id_card, label: "身份证号", placeholder: "必填字段"
= f.input :creditcard_num, label: "浦发信用卡号", placeholder: "必填字段"
= f.input :email, label: "邮箱", placeholder: "必填字段"

/ , input_html: { :class => "input-xxlarge" }