h3 {
  margin-left: 17px;
}

.form-inputs {
  line-height: 10px;

  input {
    margin-left: 15px;
    width: 90%;
    height: 40px;
    line-height: 40px;
    font-size: 0.2em;
  }

}

// .form-actions {
//   button {
//     font-size: 0.2em;
//     color: #666;
//   }
// }
